{
  "jsxSingleQuote": true,
  "quoteProps": "as-needed",
  "singleQuote": true,
  "trailingComma": "es5",
  "useTabs": false,
  "tabWidth": 2,
  "singleAttributePerLine": true,
  "semi": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "bracketSameLine": false
}
